<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loststars.tmallboot.dao.RoleDAO">
    <insert id="addUserRole">
        INSERT INTO userrole (uid, rid) VALUES (#{userId}, (SELECT id FROM role WHERE name = #{role}))
    </insert>
</mapper>